{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ form.media }}
{% endblock %}
{% block title %}
    {% trans "New tenant" %}
{% endblock %}


{% block contents %}
    {% url 'tcms_tenants:create-tenant' as form_url %}

    <div class="container-fluid container-cards-pf">
        <form class="form-horizontal" action="{{ form_action_url|default:form_url }}" method="post">
            <div class="form-group">
                <label class="col-md-1 col-lg-1" for="id_name">{% trans "Name" %}</label>
                <div class="col-sm-11 col-md-8 col-lg-5 {% if form.name.errors %}has-error{% endif %}">
                    <input type="text" id="id_name" maxlength="{{ form.fields.name.max_length }}"
                           placeholder='{% trans "Company, team or project name" %}'
                           name="name" value="{{ form.name.value|default:'' }}"
                           class="form-control" required>
                    {{ form.name.errors }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 col-lg-1" for="id_schema">{% trans "Schema" %}</label>
                <div class="col-sm-11 col-md-8 col-lg-5 {% if form.schema_name.errors %}has-error{% endif %}">
                    <div class="input-group">
                        <span class="input-group-addon">https://</span>
                        <input type="text" id="id_schema" maxlength="{{ form.fields.schema_name.max_length }}"
                               placeholder="company-team-project-name"
                               name="schema_name" value="{{ form.schema_name.value|default:'' }}"
                               class="form-control" required>
                        <span class="input-group-addon">.{{ tcms_tenants_domain }}</span>
                    </div>
                    {{ form.schema_name.errors }}
                </div>
            </div>
            {% block extra_contents %}
                {{ form.paid_until }}
                {{ form.on_trial }}
            {% endblock %}
            <button type="submit" class="btn btn-default btn-lg">{% trans "Save" %}</button>
        </form>
    </div>
{% endblock %}
